<% if(not session[:error].nil?) %>
	<% error = session[:error] %> 
	<p> <%= error %> </p>
	<% session[:error] = nil %>
<% end %>


<form action="/players/<%= session[:id] %>/games/<%= @game.first.id %>" method="post">
	<input type="hidden" name="_method" value="put"/>
	<table>
		<tr>
			<td> <input value="1x1" name="ships[]"  type="checkbox"></td>
			<td> <input value="1x2" name="ships[]"  type="checkbox"></td>
			<td> <input value="1x3" name="ships[]"  type="checkbox"></td>
			<td> <input value="1x4" name="ships[]"  type="checkbox"></td>
			<td> <input value="1x5" name="ships[]"  type="checkbox"></td>
			<td> <input value="1x6" name="ships[]"  type="checkbox"></td>
			<td> <input value="1x7" name="ships[]"  type="checkbox"></td>
			<td> <input value="1x8" name="ships[]"  type="checkbox"></td>
			<td> <input value="1x9" name="ships[]"  type="checkbox"></td>
			<td> <input value="1x10" name="ships[]"  type="checkbox"></td>
			<td> <input value="1x11" name="ships[]"  type="checkbox"></td>
			<td> <input value="1x12" name="ships[]"  type="checkbox"></td>
			<td> <input value="1x13" name="ships[]"  type="checkbox"></td>
			<td> <input value="1x14" name="ships[]"  type="checkbox"></td>
			<td> <input value="1x15" name="ships[]"  type="checkbox"></td>			
		</tr>
		<tr>
			<td> <input value="2x1" name="ships[]"  type="checkbox"></td>
			<td> <input value="2x2" name="ships[]"  type="checkbox"></td>
			<td> <input value="2x3" name="ships[]"  type="checkbox"></td>
			<td> <input value="2x4" name="ships[]"  type="checkbox"></td>
			<td> <input value="2x5" name="ships[]"  type="checkbox"></td>
			<td> <input value="2x6" name="ships[]"  type="checkbox"></td>
			<td> <input value="2x7" name="ships[]"  type="checkbox"></td>
			<td> <input value="2x8" name="ships[]"  type="checkbox"></td>
			<td> <input value="2x9" name="ships[]"  type="checkbox"></td>
			<td> <input value="2x10" name="ships[]"  type="checkbox"></td>			
			<td> <input value="2x11" name="ships[]"  type="checkbox"></td>
			<td> <input value="2x12" name="ships[]"  type="checkbox"></td>
			<td> <input value="2x13" name="ships[]"  type="checkbox"></td>
			<td> <input value="2x14" name="ships[]"  type="checkbox"></td>
			<td> <input value="2x15" name="ships[]"  type="checkbox"></td>			
		</tr>
		<tr>
			<td> <input value="3x1" name="ships[]"  type="checkbox"></td>
			<td> <input value="3x2" name="ships[]"  type="checkbox"></td>
			<td> <input value="3x3" name="ships[]"  type="checkbox"></td>
			<td> <input value="3x4" name="ships[]"  type="checkbox"></td>
			<td> <input value="3x5" name="ships[]"  type="checkbox"></td>
			<td> <input value="3x6" name="ships[]"  type="checkbox"></td>
			<td> <input value="3x7" name="ships[]"  type="checkbox"></td>
			<td> <input value="3x8" name="ships[]"  type="checkbox"></td>
			<td> <input value="3x9" name="ships[]"  type="checkbox"></td>
			<td> <input value="3x10" name="ships[]"  type="checkbox"></td>			
			<td> <input value="3x11" name="ships[]"  type="checkbox"></td>
			<td> <input value="3x12" name="ships[]"  type="checkbox"></td>
			<td> <input value="3x13" name="ships[]"  type="checkbox"></td>
			<td> <input value="3x14" name="ships[]"  type="checkbox"></td>
			<td> <input value="3x15" name="ships[]"  type="checkbox"></td>			
		</tr>
		<tr>
			<td> <input value="4x1" name="ships[]"  type="checkbox"></td>
			<td> <input value="4x2" name="ships[]"  type="checkbox"></td>
			<td> <input value="4x3" name="ships[]"  type="checkbox"></td>
			<td> <input value="4x4" name="ships[]"  type="checkbox"></td>
			<td> <input value="4x5" name="ships[]"  type="checkbox"></td>
			<td> <input value="4x6" name="ships[]"  type="checkbox"></td>
			<td> <input value="4x7" name="ships[]"  type="checkbox"></td>
			<td> <input value="4x8" name="ships[]"  type="checkbox"></td>
			<td> <input value="4x9" name="ships[]"  type="checkbox"></td>
			<td> <input value="4x10" name="ships[]"  type="checkbox"></td>			
			<td> <input value="4x11" name="ships[]"  type="checkbox"></td>
			<td> <input value="4x12" name="ships[]"  type="checkbox"></td>
			<td> <input value="4x13" name="ships[]"  type="checkbox"></td>
			<td> <input value="4x14" name="ships[]"  type="checkbox"></td>
			<td> <input value="4x15" name="ships[]"  type="checkbox"></td>			
		</tr>
		<tr>
			<td> <input value="5x1" name="ships[]"  type="checkbox"></td>
			<td> <input value="5x2" name="ships[]"  type="checkbox"></td>
			<td> <input value="5x3" name="ships[]"  type="checkbox"></td>
			<td> <input value="5x4" name="ships[]"  type="checkbox"></td>
			<td> <input value="5x5" name="ships[]"  type="checkbox"></td>
			<td> <input value="5x6" name="ships[]"  type="checkbox"></td>
			<td> <input value="5x7" name="ships[]"  type="checkbox"></td>
			<td> <input value="5x8" name="ships[]"  type="checkbox"></td>
			<td> <input value="5x9" name="ships[]"  type="checkbox"></td>
			<td> <input value="5x10" name="ships[]"  type="checkbox"></td>					
			<td> <input value="5x11" name="ships[]"  type="checkbox"></td>
			<td> <input value="5x12" name="ships[]"  type="checkbox"></td>
			<td> <input value="5x13" name="ships[]"  type="checkbox"></td>
			<td> <input value="5x14" name="ships[]"  type="checkbox"></td>
			<td> <input value="5x15" name="ships[]"  type="checkbox"></td>					
		</tr>
		<tr>
			<td> <input value="6x1" name="ships[]"  type="checkbox"></td>
			<td> <input value="6x2" name="ships[]"  type="checkbox"></td>
			<td> <input value="6x3" name="ships[]"  type="checkbox"></td>
			<td> <input value="6x4" name="ships[]"  type="checkbox"></td>
			<td> <input value="6x5" name="ships[]"  type="checkbox"></td>
			<td> <input value="6x6" name="ships[]"  type="checkbox"></td>
			<td> <input value="6x7" name="ships[]"  type="checkbox"></td>
			<td> <input value="6x8" name="ships[]"  type="checkbox"></td>
			<td> <input value="6x9" name="ships[]"  type="checkbox"></td>
			<td> <input value="6x10" name="ships[]"  type="checkbox"></td>					
			<td> <input value="6x11" name="ships[]"  type="checkbox"></td>
			<td> <input value="6x12" name="ships[]"  type="checkbox"></td>
			<td> <input value="6x13" name="ships[]"  type="checkbox"></td>
			<td> <input value="6x14" name="ships[]"  type="checkbox"></td>
			<td> <input value="6x15" name="ships[]"  type="checkbox"></td>					
		</tr>
		<tr>
			<td> <input value="7x1" name="ships[]"  type="checkbox"></td>
			<td> <input value="7x2" name="ships[]"  type="checkbox"></td>
			<td> <input value="7x3" name="ships[]"  type="checkbox"></td>
			<td> <input value="7x4" name="ships[]"  type="checkbox"></td>
			<td> <input value="7x5" name="ships[]"  type="checkbox"></td>
			<td> <input value="7x6" name="ships[]"  type="checkbox"></td>
			<td> <input value="7x7" name="ships[]"  type="checkbox"></td>
			<td> <input value="7x8" name="ships[]"  type="checkbox"></td>
			<td> <input value="7x9" name="ships[]"  type="checkbox"></td>
			<td> <input value="7x10" name="ships[]"  type="checkbox"></td>					
			<td> <input value="7x11" name="ships[]"  type="checkbox"></td>
			<td> <input value="7x12" name="ships[]"  type="checkbox"></td>
			<td> <input value="7x13" name="ships[]"  type="checkbox"></td>
			<td> <input value="7x14" name="ships[]"  type="checkbox"></td>
			<td> <input value="7x15" name="ships[]"  type="checkbox"></td>					
		</tr>
		<tr>
			<td> <input value="8x1" name="ships[]"  type="checkbox"></td>
			<td> <input value="8x2" name="ships[]"  type="checkbox"></td>
			<td> <input value="8x3" name="ships[]"  type="checkbox"></td>
			<td> <input value="8x4" name="ships[]"  type="checkbox"></td>
			<td> <input value="8x5" name="ships[]"  type="checkbox"></td>
			<td> <input value="8x6" name="ships[]"  type="checkbox"></td>
			<td> <input value="8x7" name="ships[]"  type="checkbox"></td>
			<td> <input value="8x8" name="ships[]"  type="checkbox"></td>
			<td> <input value="8x9" name="ships[]"  type="checkbox"></td>
			<td> <input value="8x10" name="ships[]"  type="checkbox"></td>					
			<td> <input value="8x11" name="ships[]"  type="checkbox"></td>
			<td> <input value="8x12" name="ships[]"  type="checkbox"></td>
			<td> <input value="8x13" name="ships[]"  type="checkbox"></td>
			<td> <input value="8x14" name="ships[]"  type="checkbox"></td>
			<td> <input value="8x15" name="ships[]"  type="checkbox"></td>					
		</tr>
		<tr>
			<td> <input value="9x1" name="ships[]"  type="checkbox"></td>
			<td> <input value="9x2" name="ships[]"  type="checkbox"></td>
			<td> <input value="9x3" name="ships[]"  type="checkbox"></td>
			<td> <input value="9x4" name="ships[]"  type="checkbox"></td>
			<td> <input value="9x5" name="ships[]"  type="checkbox"></td>
			<td> <input value="9x6" name="ships[]"  type="checkbox"></td>
			<td> <input value="9x7" name="ships[]"  type="checkbox"></td>
			<td> <input value="9x8" name="ships[]"  type="checkbox"></td>
			<td> <input value="9x9" name="ships[]"  type="checkbox"></td>
			<td> <input value="9x10" name="ships[]"  type="checkbox"></td>					
			<td> <input value="9x11" name="ships[]"  type="checkbox"></td>
			<td> <input value="9x12" name="ships[]"  type="checkbox"></td>
			<td> <input value="9x13" name="ships[]"  type="checkbox"></td>
			<td> <input value="9x14" name="ships[]"  type="checkbox"></td>
			<td> <input value="9x15" name="ships[]"  type="checkbox"></td>					
		</tr>
		<tr>
			<td> <input value="10x1" name="ships[]"  type="checkbox"></td>
			<td> <input value="10x2" name="ships[]"  type="checkbox"></td>
			<td> <input value="10x3" name="ships[]"  type="checkbox"></td>
			<td> <input value="10x4" name="ships[]"  type="checkbox"></td>
			<td> <input value="10x5" name="ships[]"  type="checkbox"></td>
			<td> <input value="10x6" name="ships[]"  type="checkbox"></td>
			<td> <input value="10x7" name="ships[]"  type="checkbox"></td>
			<td> <input value="10x8" name="ships[]"  type="checkbox"></td>
			<td> <input value="10x9" name="ships[]"  type="checkbox"></td>
			<td> <input value="10x10" name="ships[]"  type="checkbox"></td>					
			<td> <input value="10x11" name="ships[]"  type="checkbox"></td>
			<td> <input value="10x12" name="ships[]"  type="checkbox"></td>
			<td> <input value="10x13" name="ships[]"  type="checkbox"></td>
			<td> <input value="10x14" name="ships[]"  type="checkbox"></td>
			<td> <input value="10x15" name="ships[]"  type="checkbox"></td>					
		</tr>
		<tr>
			<td> <input value="11x1" name="ships[]"  type="checkbox"></td>
			<td> <input value="11x2" name="ships[]"  type="checkbox"></td>
			<td> <input value="11x3" name="ships[]"  type="checkbox"></td>
			<td> <input value="11x4" name="ships[]"  type="checkbox"></td>
			<td> <input value="11x5" name="ships[]"  type="checkbox"></td>
			<td> <input value="11x6" name="ships[]"  type="checkbox"></td>
			<td> <input value="11x7" name="ships[]"  type="checkbox"></td>
			<td> <input value="11x8" name="ships[]"  type="checkbox"></td>
			<td> <input value="11x9" name="ships[]"  type="checkbox"></td>
			<td> <input value="11x10" name="ships[]"  type="checkbox"></td>					
			<td> <input value="11x11" name="ships[]"  type="checkbox"></td>
			<td> <input value="11x12" name="ships[]"  type="checkbox"></td>
			<td> <input value="11x13" name="ships[]"  type="checkbox"></td>
			<td> <input value="11x14" name="ships[]"  type="checkbox"></td>
			<td> <input value="11x15" name="ships[]"  type="checkbox"></td>					
		</tr>
		<tr>
			<td> <input value="12x1" name="ships[]"  type="checkbox"></td>
			<td> <input value="12x2" name="ships[]"  type="checkbox"></td>
			<td> <input value="12x3" name="ships[]"  type="checkbox"></td>
			<td> <input value="12x4" name="ships[]"  type="checkbox"></td>
			<td> <input value="12x5" name="ships[]"  type="checkbox"></td>
			<td> <input value="12x6" name="ships[]"  type="checkbox"></td>
			<td> <input value="12x7" name="ships[]"  type="checkbox"></td>
			<td> <input value="12x8" name="ships[]"  type="checkbox"></td>
			<td> <input value="12x9" name="ships[]"  type="checkbox"></td>
			<td> <input value="12x10" name="ships[]"  type="checkbox"></td>					
			<td> <input value="12x11" name="ships[]"  type="checkbox"></td>
			<td> <input value="12x12" name="ships[]"  type="checkbox"></td>
			<td> <input value="12x13" name="ships[]"  type="checkbox"></td>
			<td> <input value="12x14" name="ships[]"  type="checkbox"></td>
			<td> <input value="12x15" name="ships[]"  type="checkbox"></td>					
		</tr>
		<tr>
			<td> <input value="13x1" name="ships[]"  type="checkbox"></td>
			<td> <input value="13x2" name="ships[]"  type="checkbox"></td>
			<td> <input value="13x3" name="ships[]"  type="checkbox"></td>
			<td> <input value="13x4" name="ships[]"  type="checkbox"></td>
			<td> <input value="13x5" name="ships[]"  type="checkbox"></td>
			<td> <input value="13x6" name="ships[]"  type="checkbox"></td>
			<td> <input value="13x7" name="ships[]"  type="checkbox"></td>
			<td> <input value="13x8" name="ships[]"  type="checkbox"></td>
			<td> <input value="13x9" name="ships[]"  type="checkbox"></td>
			<td> <input value="13x10" name="ships[]"  type="checkbox"></td>					
			<td> <input value="13x11" name="ships[]"  type="checkbox"></td>
			<td> <input value="13x12" name="ships[]"  type="checkbox"></td>
			<td> <input value="13x13" name="ships[]"  type="checkbox"></td>
			<td> <input value="13x14" name="ships[]"  type="checkbox"></td>
			<td> <input value="13x15" name="ships[]"  type="checkbox"></td>					
		</tr>
		<tr>
			<td> <input value="14x1" name="ships[]"  type="checkbox"></td>
			<td> <input value="14x2" name="ships[]"  type="checkbox"></td>
			<td> <input value="14x3" name="ships[]"  type="checkbox"></td>
			<td> <input value="14x4" name="ships[]"  type="checkbox"></td>
			<td> <input value="14x5" name="ships[]"  type="checkbox"></td>
			<td> <input value="14x6" name="ships[]"  type="checkbox"></td>
			<td> <input value="14x7" name="ships[]"  type="checkbox"></td>
			<td> <input value="14x8" name="ships[]"  type="checkbox"></td>
			<td> <input value="14x9" name="ships[]"  type="checkbox"></td>
			<td> <input value="14x10" name="ships[]"  type="checkbox"></td>					
			<td> <input value="14x11" name="ships[]"  type="checkbox"></td>
			<td> <input value="14x12" name="ships[]"  type="checkbox"></td>
			<td> <input value="14x13" name="ships[]"  type="checkbox"></td>
			<td> <input value="14x14" name="ships[]"  type="checkbox"></td>
			<td> <input value="14x15" name="ships[]"  type="checkbox"></td>					
		</tr>
		<tr>
			<td> <input value="15x1" name="ships[]"  type="checkbox"></td>
			<td> <input value="15x2" name="ships[]"  type="checkbox"></td>
			<td> <input value="15x3" name="ships[]"  type="checkbox"></td>
			<td> <input value="15x4" name="ships[]"  type="checkbox"></td>
			<td> <input value="15x5" name="ships[]"  type="checkbox"></td>
			<td> <input value="15x6" name="ships[]"  type="checkbox"></td>
			<td> <input value="15x7" name="ships[]"  type="checkbox"></td>
			<td> <input value="15x8" name="ships[]"  type="checkbox"></td>
			<td> <input value="15x9" name="ships[]"  type="checkbox"></td>
			<td> <input value="15x10" name="ships[]"  type="checkbox"></td>					
			<td> <input value="15x11" name="ships[]"  type="checkbox"></td>
			<td> <input value="15x12" name="ships[]"  type="checkbox"></td>
			<td> <input value="15x13" name="ships[]"  type="checkbox"></td>
			<td> <input value="10x14" name="ships[]"  type="checkbox"></td>
			<td> <input value="10x15" name="ships[]"  type="checkbox"></td>					
		</tr>
	</table>
	<input type="submit" value="submit">
</form>
