<% if(not session[:error].nil?) %>
	<% error = session[:error] %> 
	<p> <%= error %> </p>
	<% session[:error] = nil %>
<% end %>
<form action="/players/<%= session[:id] %>/games/<%= @game.first.id %>" method="post">
	<input type="hidden" name="_method" value="put"/>
	<table>
		<tr>
			<td> <input value="1x1" name="ships[]"  type="checkbox"></td>
			<td> <input value="1x2" name="ships[]"  type="checkbox"></td>
			<td> <input value="1x3" name="ships[]"  type="checkbox"></td>
			<td> <input value="1x4" name="ships[]"  type="checkbox"></td>
			<td> <input value="1x5" name="ships[]"  type="checkbox"></td>
		</tr>
		<tr>
			<td> <input value="2x1" name="ships[]"  type="checkbox"></td>
			<td> <input value="2x2" name="ships[]"  type="checkbox"></td>
			<td> <input value="2x3" name="ships[]"  type="checkbox"></td>
			<td> <input value="2x4" name="ships[]"  type="checkbox"></td>
			<td> <input value="2x5" name="ships[]"  type="checkbox"></td>
		</tr>
		<tr>
			<td> <input value="3x1" name="ships[]"  type="checkbox"></td>
			<td> <input value="3x2" name="ships[]"  type="checkbox"></td>
			<td> <input value="3x3" name="ships[]"  type="checkbox"></td>
			<td> <input value="3x4" name="ships[]"  type="checkbox"></td>
			<td> <input value="3x5" name="ships[]"  type="checkbox"></td>
		</tr>
		<tr>
			<td> <input value="4x1" name="ships[]"  type="checkbox"></td>
			<td> <input value="4x2" name="ships[]"  type="checkbox"></td>
			<td> <input value="4x3" name="ships[]"  type="checkbox"></td>
			<td> <input value="4x4" name="ships[]"  type="checkbox"></td>
			<td> <input value="4x5" name="ships[]"  type="checkbox"></td>
		</tr>
		<tr>
			<td> <input value="5x1" name="ships[]"  type="checkbox"></td>
			<td> <input value="5x2" name="ships[]"  type="checkbox"></td>
			<td> <input value="5x3" name="ships[]"  type="checkbox"></td>
			<td> <input value="5x4" name="ships[]"  type="checkbox"></td>
			<td> <input value="5x5" name="ships[]"  type="checkbox"></td>
		</tr>
	</table>
	<input type="submit" value="submit">
</form>
