<h2>Registrarse</h2>
	<form action="/players" method="post">
	Nombre de usuario:
	<input type="text" name="user" value="user">
	<br>
	Contraseña:
	<input type="password" name="password" value="password">
	<br><br>
	<input type="Submit" value="Registrarse">
</form>
<a href="login">Login</a>