<% if(not session[:error].nil?) %>
	<% error = session[:error] %> 
	<p> <%= error %> </p>
	<% session[:error] = nil %>
<% end %>

<% if !@to_start.empty?%>
	<h3>Place your ships captain</h3>
	<table>
		<tr>
			<th>ID</th>
			<th>Play!</th>
		</tr>
		<% @to_start.each do |game| %>
		<tr>
			<td><%= game.id %></td>
			<% if @session == game.turn %>
			<td><a href="games/newgame/<%= game.id %>">Play!</a></td>
			<% end %>
		</tr>
		<% end %>
	</table>
<% end %>
=============================Your turn==============================
<table>
	<tr>
		<th>ID</th>
		<th>Play!</th>
	</tr>
	<% @games.each do |game| %>
	<tr>
		<td><%= game.id %></td>
		<% if @session == game.turn %>
		<td><a href="games/<%= game.id %>">Play!</a></td>
		<% end %>
	</tr>
	<% end %>
</table>
=============================Finished==============================
<table>
	<tr>
		<th>ID</th>
		<th>Game result</th>
	</tr>
	<% @finished.each do |game| %>
	<tr>
		<td><%= game.id %></td>
		<% if @session == game.turn %>
		<td>
			<% if game.finished == session[:id] %>
				YOU WON FELLAH
			<% else %>
				YOU LOOSE TRY AGAIN , HA!
			<% end %>
		</td>
		<% end %>
	</tr>
	<% end %>
</table>
<h3>Nueva partida</h3>
<form action="/players/games" method="post">
	Rival:
	<select name="rivals">
		<% @players.each do |player| %>
		<option value="<%= player.id %>"><%= player.user %></option>
		<% end %>
	</select>
	<br>
	Tamaño tablero:
	<select name="size">
		<option value="1">5x5</option>
		<option value="2">10x10</option>
		<option value="3">15x15</option>
	</select>
	<br><br>
	<input type="submit" value="Submit">
</form>

